<div class="auth-container">
  <mat-card class="auth-card">
    <mat-card-title>Registro</mat-card-title>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" required />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput formControlName="password" type="password" required />
      </mat-form-field>

      <button mat-raised-button color="accent" class="full-width" type="submit">
        Registrarse
      </button>
    </form>

    <div class="link-container">
      <span>¿Ya tienes cuenta?</span>
      <a href="/login">Inicia sesión</a>
    </div>
  </mat-card>
</div>
