<div class="auth-container">
  <mat-card class="auth-card">
    <mat-card-title>Iniciar Sesión</mat-card-title>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" required />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput formControlName="password" type="password" required />
      </mat-form-field>

      <button mat-raised-button color="primary" class="full-width" type="submit">
        Iniciar Sesión
      </button>
    </form>

    <div class="link-container">
      <span>¿No tienes cuenta?</span>
      <a href="/register">Regístrate</a>
    </div>
  </mat-card>
</div>
