<mat-card class="form-card">
  <mat-card-title>{{ isEdit ? 'Editar Tarea' : 'Nueva Tarea' }}</mat-card-title>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="task-form">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Título</mat-label>
      <input matInput type="text" formControlName="title" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Descripción</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <mat-checkbox formControlName="completed">¿Completada?</mat-checkbox>

    <div class="form-actions">
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
        {{ isEdit ? 'Actualizar' : 'Crear' }}
      </button>
    </div>
  </form>
</mat-card>
